@import "tailwindcss";


@theme {
--color-primary:#835BFF;
--color-secondary:#EDF0FF;
--color-text:#180D39;
--color-background:#f9fbfc;
--font-inter: var(--font-inter), sans-serif;
--font-manrope: var(--font-manrope), sans-serif;
--font-poppins: var(--font-poppins), sans-serif;
--font-jakarta: var(--font-jakarta), sans-serif;
--animate-infinite-scroll: infinite-scroll 25s linear infinite;
    @keyframes infinite-scroll {
         0% {
         transform: translateX(0) 
        }
        100% {
        transform: translateX(calc(-100% / 3))
        }
  }
}